.Container {
	align-content: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	height: 100vh;
    background: #E5E5E5;
}

.header {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100px;
	width: 100%;
	background: #47B713;
}

.hero-image {
	align-content: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	height: 100vh;
	background-image: url("Background.jpg");
	width: 100vw;
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
  }

  .hero-image1 {
	align-content: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	height: 100%;
	background-image: url("Background.jpg");
	height: 1000px; 
	width: 1380px;
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
  }

  .hero-image2 {
	align-content: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	height: 100%;
	background-image: url("Background.jpg");
	height: 650px; 
	width: 1380px;
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
  }

  .hero-image3 {
	align-content: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	height: 100%;
	background-image: url("Background.jpg");
	height: 1200px; 
	width: 1380px;
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
  }

  .hero-image4 {
	align-content: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	height: 100%;
	background-image: url("Background.jpg");
	height: 900px; 
	width: 1380px;
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
	margin-top:0px;
	padding-top:0px;
}

.hero-image5 {
	align-content: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	height: 100%;
	background-image: url("Background.jpg");
	height: 500px; 
	width: 1380px;
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
	margin-top:0px;
	padding-top:300px;
	padding-bottom:00px;
}