.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: black;
}
.judul {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.factor {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1000px;
    height: 750px;
    padding-top: 20px;
    border: black solid;
    background-color: white;
}
.internal {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 350px;
    height: 700px;
    border: black solid;
    padding-right: 50px;
    padding-left: 50px;
    background-color: white;
}
.external {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 350px;
    height: 700px;
    border: black solid;
    padding-right: 50px;
    padding-left: 50px;
    background-color: white;
}

.resultButton{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   width: 150px;
   height: 50px;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
   background-color: #47B713;
   border-radius: 20px;
}

.resultButton:hover{
   background-color:#006400;
}

.tulisanTombol{
   color:white;
   font-size: 20px;
   text-align:center;
   margin:auto;
}