/*.Container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}*/
.centerize {
    position: absolute;
    top: 25%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}
/*
.hero-image5 {
    display: flex;
    flex-direction: column;
}
*/
.heading {
    color:white;
}

.heading2 {
    color: white;
}

.box {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 550px;
    height: 200px;
    border-left: 1px solid #4CAF50;
    border-bottom: 1px solid #4CAF50;
    display: flex;
}

.day {
    position: relative;
    flex: 1;
    text-align: center;
}

.graph {
    position: absolute;
    width: 40px;
    background:black;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 40px;
}

.percentage {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: lawngreen;
}

.dayNumber {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.buttonSresult {
    position: absolute;
    left: 44%;
    bottom: 0%;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}