.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-image: url("Background.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 1200px;
   width : 100vw;
}


.headerSym{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 80px;
   width: 100%;
   background: #47B713;
   font-family: Roboto, Arial;
   font-style: normal;
   font-weight: normal;
   font-size: 30px;
   line-height: 56px;	
}

.skala {
   width: 500px;
   height: 400px;
   padding-top: 10px;
   border: black solid;
   text-align: left;
   list-style-position: inside;
   float:right;
   background: #FFFFFF;
   border-radius: 50px;
}

.pilihan{
   width: 420px;
   height: 550px;
   background: #FFFFFF;
   border: black solid;
   border-radius: 50px;
}


.options {
   display: flex;
   flex-direction: row;
   align-items: center;	
}

.InputChanger1 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-left: 200px;
}
.InputChanger2 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-left: 137px;
}

.InputChanger3 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-left: 35px;
}

.InputChanger4 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-left: 122px;
}

.InputChanger5 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-left: 186px;
}

.InputChanger6 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-left: 156px;
}

.InputChanger7 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-left: 214px;
}

.InputChanger8 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-left: 140px;
}

.InputChanger9 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-left: 163px;
}

.InputChanger10 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-left: 90px;
}

.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border: black solid;
    border-radius: 5px;	
}

.changeInput {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 30px;
   height: 30px;
   background-color: #47B713;
   border-radius: 5px;
}

.buttonHasil{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   width: 150px;
   height: 50px;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
   background-color: #47B713;
   border-radius: 20px;
   margin-left: 400px;
}

.buttonHasil:hover{
   background-color:#006400;
}
.tulisanTombol{
   color:white;
   font-size: 20px;
   text-align:center;
   margin:auto;
}

.keterangan {
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding-left: 10px;
   width: 490px;
   height: 50px;
   text-align: left;
   background-color: #47B713;
   font-size: 25px;
}

.tulisanPutih{
	color:white;
}